.sheet-container {
	width: 772px;
	display: grid;
	grid-template-columns: repeat(1, [col] 772px );
	grid-template-rows: 70px 35px auto;
	grid-gap: 2px;
	grid-template-areas:
    "header"
    "navigation"
    "page";
	background-color: #fff;
	color: black;
}

/* header start */
.sheet-header-container{
	grid-area: header;
	display: grid;
	grid-template-columns: 170px  342px  256px;
	grid-template-rows: 35px 35px;
	grid-gap: 2px;
	grid-template-areas:
    "logo name exp"
    "logo class exp"
}

.sheet-logo {
	grid-area: logo;
	width: 170px;
	justify-self: center;
	align-self: center;
}

.sheet-name-container {
	grid-area: name;
	background-color: white;
	height: 35px;
	display: grid;
	grid-template-columns: 70px 272px;
	grid-template-rows: 5px 25px 5px;
	grid-gap: 0px;
}

.sheet-name-label {
	background-color: black;
	color: white;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 3px;
}

.sheet-name-input {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: 4;
	background: white;
	border-color: black;
	border-width: 2px;
	text-align: center;
	border-radius: 0px;
	height: 29px;
	width: auto;
}

.sheet-class-container {
	grid-area: class;
	background-color: white;
	height: 35px;
	display: grid;
	grid-template-columns: 70px 185px 2px 85px;
	grid-template-rows: 5px 25px 5px;
	grid-gap: 0px;
}

.sheet-class-label {
	background-color: black;
	color: white;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 3px;
}

.sheet-class-span {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
	background: white;
	border: 2px solid black;
	text-align: center;
	padding: 5px 0px; 
	border-radius: 0px;
}

.sheet-change-button {
	display:inline-block;
	border:0.1em solid rgb(14, 13, 13);
	background-color: transparent;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color: black;
	text-align:center;
	transition: all 0.2s;
}

.sheet-class-change-button {
	grid-column-start: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}
/* header end */

/* navigation start */
.sheet-navigation-container {
	grid-area: navigation;
	display: grid;
}

.sheet-nav-tabs {
	justify-self: center;
	align-self: end;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 5px;
}

.sheet-nav-button {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.sheet-nav-button input {
	display: none;
}

.sheet-nav-button span{
	display:inline-grid;
	border:0.1em solid rgb(14, 13, 13);
	background-color: transparent;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color: black;
	text-align:center;
	transition: all 0.2s;
	padding: 2px 6px 2px 6px;
}

.sheet-nav-button input[type=radio]:checked + span {
	background-image: linear-gradient(#ffffffb8, transparent);
	border-bottom-color: transparent;
}
/* navigation end */

/* pages common start */
.sheet-page {
	grid-area: page;
	display: none;
}

.sheet-tabstoggle[value="main"] ~ .sheet-main-page,
.sheet-tabstoggle[value="sub"] ~ .sheet-sub-page {
	display: grid;
}

.sheet-tabstoggle[value="main"] ~ .sheet-sub-page,
.sheet-tabstoggle[value="sub"] ~ .sheet-main-page {
	display: none;
}
/*pages common end */

/*main pages start */
.sheet-main-page {
	display: grid;
	grid-template-columns: 383px 383px;
	grid-gap: 6px;
	grid-template-rows: auto;
	grid-template-areas: 
	"desc looks"
	"back .";
	grid-auto-flow: column;
}

.sheet-description {
	grid-area: desc;
}

.sheet-background {
	grid-area: back;
}

.sheet-look {
	grid-area: looks;
}

.sheet-background,
.sheet-cyborg-path {
	display: grid;
	gap: 10px;
    grid-template-rows: 26.4px min-content;
}

.sheet-background .sheet-title,
.sheet-cyborg-path .sheet-title {
	display: grid;
    grid-template-columns: min-content 26.4px auto;
    gap: 10px;
}


/* cyborg special */
.sheet-is-cyborg-flag {
	display: none;
}

.sheet-is-cyborg-flag:checked + .sheet-cyborg-additional {
	display: none;
}

.sheet-is-cyborg-flag:not(:checked) + .sheet-cyborg-additional {
	display: inline;
}

.sheet-is-cyborg-flag:not(:checked) + .sheet-cyborg-path {
	display: grid;
}

.sheet-cyborgPath-show-flag {
	display: none;
}

.sheet-cyborgPath-show-flag:checked + div {
	display: none;
}

.sheet-cyborgPath-show-flag:not(:checked) + div {
	display: inline;
}

button[type=roll].sheet-cyborgPathOutput {
    border: none;
    background-color: transparent;
    background-image: none;
    font-size: 1.05em;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
    height: 28px;
    margin: 0px;
	padding: 0px;
	font-family: "Pictos";
}

button[type=roll].sheet-cyborgPathOutput::before {
    content: '';
}

.sheet-main-page .sheet-change-button {
	font-family: "Pictos";
}
/* cyborg special end*/

.sheet-look .sheet-look-example {
	width: 380px;
	height: 72px;
	resize: none;
	padding: 0px;
	margin: 0px;
	background: none;
	border: none;
	cursor: default;
}

.sheet-look .sheet-look-input {
	width: 380px;
	height: 100px;
	resize: vertical;
	padding: 0px;
	margin: 0px;
}
/* main page end */

/*TODO*/
/* rolltemplate test*/
.sheet-rolltemplate-info .sheet-templateMain {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	/*background-color: white;*/
	padding: 0px;
	/*border: 1px solid black;*/
	/*white-space: nowrap;*/
}

.sheet-rolltemplate-info .sheet-templateheader,
.sheet-rolltemplate-info .sheet-templatesubheader {
    width: 100%;
    margin: 0 0 0 0;
    padding: 2px 2px 2px 2px;
    background-color: #e8d394;
    color: #770912;
    text-align: center;
    border: 1px solid #A48623;
    border-bottom: none;
}

.sheet-rolltemplate-info .sheet-templatesubheader {
    color: black;
    border-left: 1px solid #A48623;
    border-right: 1px solid #A48623;
    border-top: none;
}

.sheet-rolltemplate-info .sheet-templatedescription {
    background-color: white;
    color: black;
    font-size: .8em;
    padding: 5px;
    width: 100%;
    border: 1px solid #A48623;
}

button[type=roll].sheet-backgroundOutput {
    border: none;
    background-color: transparent;
    background-image: none;
    font-size: 1.05em;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
    height: 28px;
    margin: 0px;
    padding: 0px;
}

button[type=roll].sheet-backgroundOutput::before {
    content: '';
}

button[type=roll].sheet-backgroundOutput {
    font-family: "Pictos";
}

.sheet-background-show-flag {
	display: none;
}

.sheet-background-show-flag:checked ~ .sheet-background-select {
	display: none;
}

.sheet-background-show-flag:not(:checked) ~ .sheet-background-select {
	display: inline;
}

span.sheet-emptiable:empty,
span.sheet-emptiable:empty + br {
    display: none;
}

/*всплывашка*/
.sheet-tip-confirm-flag {
	display: none;
}

.sheet-tip-confirm-flag:checked ~ .sheet-class-tip {
	display: none;
}

.sheet-tip-confirm-flag:not(:checked) ~ .sheet-class-tip {
	display: block;
	position: absolute;
	top: 12.8em;
	left: 10.7em;
	background: white;
	z-index: 99;
	border: 2px solid black;
	border-radius: 6px;
	padding: 5px;
	width: 701px;
	height: 85px;
}

.sheet-class-tip .sheet-cancel-button {
	float: right;
}

.sheet-class-tip button[type=action] {
	color: black;
}

.sheet-class-tip button[type=action]:hover {
	border-color: #6e9ec6;
}