button:focus,
input:focus {
	background: unset;
	outline: unset;
}

.sheet-container {
	width: 772px;
	display: grid;
	grid-template-columns: repeat(1, [col] 772px );
	grid-template-rows: 70px 35px auto;
	grid-gap: 2px;
	grid-template-areas:
    "header"
    "navigation"
    "page";
	background-color: #fff;
	color: black;
	border-image-slice:49 48 48 48 fill;
	border-image-width:12px 12px 12px 12px;
	border-image-outset:0px 0px 0px 0px;
	border-image-repeat:stretch stretch;
	border-image-source: url("https://github.com/khtd/roll20_eotv/blob/master/border2.jpg?raw=true");
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-image-outset: 10px;
}

.sheet-container input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.sheet-container input[type=number] {
	width: unset;
}

/* header start */
.sheet-header-container{
	grid-area: header;
	display: grid;
	grid-template-columns: 170px  342px  256px;
	grid-template-rows: 35px 35px;
	grid-gap: 2px;
	grid-template-areas:
    "logo name exp"
    "logo class exp"
}

.sheet-logo {
	grid-area: logo;
	width: 170px;
	justify-self: center;
	align-self: center;
}

.sheet-name-container {
	grid-area: name;
	background-color: white;
	height: 35px;
	display: grid;
	grid-template-columns: 70px 272px;
	grid-template-rows: 5px 25px 5px;
	grid-gap: 0px;
}

.sheet-name-label {
	background-color: black;
	color: white;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 3px;
}

.sheet-name-input {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-row-end: 4;
	background: white;
	border-color: black;
	border-width: 2px;
	text-align: center;
	border-radius: 0px;
	height: 29px;
	width: auto;
}

.sheet-class-container {
	grid-area: class;
	background-color: white;
	height: 35px;
	display: grid;
	grid-template-columns: 70px 185px 2px 85px;
	grid-template-rows: 5px 25px 5px;
	grid-gap: 0px;
}

.sheet-class-label {
	background-color: black;
	color: white;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 3px;
}

.sheet-class-span {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
	background: white;
	border: 2px solid black;
	text-align: center;
	padding: 5px 0px; 
	border-radius: 0px;
}

.sheet-change-button {
	display:inline-block;
	border:0.1em solid rgb(14, 13, 13);
	background-color: transparent;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color: black;
	text-align:center;
	transition: all 0.2s;
}

.sheet-class-change-button {
	grid-column-start: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}

/* rollbonus start */
.sheet-roll-bonus {
	display: grid;
	align-content: end;
	grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
	grid-row-start: 1;
	width: min-content;
	justify-self: end;
}

.sheet-toggler {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	grid-auto-flow: column;
	gap: 3px;
}

.sheet-toggler label {
	margin: 0;
	width: fit-content;
	width: -moz-fit-content;
	padding: 0px;
	align-items: end;
	display: grid;
	font-size: 1em;
}

.sheet-toggler label:hover {
	cursor: pointer;
}

.sheet-toggler input[type=radio],
.sheet-toggler input[type=checkbox] {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px;
}

.sheet-toggler input[type=radio] + span,
.sheet-toggler input[type=checkbox] + span {
	border: 1px solid rgb(35, 31, 32);
	padding: 2px 6px;
	background-color: white;
	color: #D3D3D3;
	text-align: center;
}

.sheet-toggler input[type=radio]:checked + span,
.sheet-toggler input[type=checkbox]:checked + span {
	color: rgb(35, 31, 32);
}

.sheet-roll-bonus input[type=text] {
	border: 1px solid black;
	border-radius: 0px;
	text-align: center;
	height: 24px;
	width: 42px;
}
/* rollbonus end */

/*exp start */
.sheet-exp-container {
	grid-area: exp;
	display: grid;
	grid-template-columns: min-content 25px 25px 25px 25px min-content 45px;
	grid-template-rows: 45px;
	grid-template-areas: "exp-lbl exp-box1 exp-box2 exp-box3 exp-box4 exp-up-lbl exp-box5";
	gap: 5px;
	align-self: end;
}

.sheet-exp-label {
    grid-area: exp-lbl;
	align-self: end;
	line-height: 1;
}

.sheet-exp-up-label {
    grid-area: exp-up-lbl;
	align-self: end;
	line-height: 1;
}

input[type="checkbox"].sheet-exp-box {
    opacity: 0;
    cursor: pointer;
	z-index: 1;
	align-self: end;
}

input[type="checkbox"].sheet-exp-box1,
input[type="checkbox"].sheet-exp-box2,
input[type="checkbox"].sheet-exp-box3,
input[type="checkbox"].sheet-exp-box4 {
	width: 25px;
    height: 25px;
}

input[type="checkbox"].sheet-exp-box5 {
	width: 45px;
    height: 45px;
}

input[type="checkbox"].sheet-exp-box + span {
    align-self: end;
    border: solid 2px black;
    display: block;
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 -50%, #ffffff 194%);
	border-radius: 0px;
}

input[type="checkbox"].sheet-exp-box:checked ~ input[type="checkbox"] + span {    
    background: white;
}

input.sheet-exp-box0 {
    z-index: 0;
    display: none;
}

.sheet-exp-box1 {
    grid-area: exp-box1;
    height: 21px;
}

.sheet-exp-box2{
    grid-area: exp-box2;
    height: 21px;
}

.sheet-exp-box3 {
    grid-area: exp-box3;
    height: 21px;
}

.sheet-exp-box4 {
    grid-area: exp-box4;
    height: 21px;
}

.sheet-exp-box5 {
    grid-area: exp-box5;
    height: 41px;
}
/*exp end*/


/* header end */

/* navigation start */
.sheet-navigation-container {
	grid-area: navigation;
	display: grid;
	grid-auto-flow: column;
}

.sheet-nav-tabs {
	justify-self: center;
	align-self: end;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 5px;
	grid-column-end: 2;
	grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

.sheet-nav-button {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.sheet-nav-button input {
	display: none;
}

.sheet-nav-button span{
	display:inline-grid;
	border:0.1em solid rgb(14, 13, 13);
	background-color: transparent;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color: #D3D3D3;
	text-align:center;
	transition: all 0.2s;
	padding: 2px 6px 2px 6px;
}

.sheet-nav-button input[type=radio]:checked + span {
	color: rgb(35, 31, 32);
}
/* navigation end */

/* pages common start */
.sheet-page {
	grid-area: page;
	display: none;
}

.sheet-tabstoggle[value="page1"] ~ .sheet-page1,
.sheet-tabstoggle[value="page2"] ~ .sheet-page2,
.sheet-tabstoggle[value="page3"] ~ .sheet-page3 {
	display: grid;
}

.sheet-tabstoggle[value="page1"] ~ .sheet-page2,
.sheet-tabstoggle[value="page1"] ~ .sheet-page3,
.sheet-tabstoggle[value="page2"] ~ .sheet-page1,
.sheet-tabstoggle[value="page2"] ~ .sheet-page3,
.sheet-tabstoggle[value="page3"] ~ .sheet-page1,
.sheet-tabstoggle[value="page3"] ~ .sheet-page2 {
	display: none;
}
/*pages common end */

/*page1 pages start */
.sheet-page1 {
	display: grid;
	grid-template-columns: 383px 383px;
	grid-gap: 10px 6px;
	grid-template-rows: auto;
	grid-template-areas: 
	"desc looks"
	"back .";
	grid-auto-flow: row;
}

/*page1 descriprion start*/
.sheet-description {
	grid-area: desc;
}

.sheet-description .sheet-change-description-hidden {
	display: none;
}

.sheet-description .sheet-title {
	display: grid;
	grid-template-columns: max-content 26.4px auto;
	gap: 10px;
}

.sheet-description button.sheet-change-descriprion {
  margin: 0;
  overflow: visible;
  text-transform: none;
  border-style: none;
  padding: 0;
  background: transparent;
	cursor: pointer;
	border:0.1em solid rgb(14, 13, 13);
	background-color: transparent;
}
button.sheet-change-descriprion  > span.sheet-save,
button.sheet-change-descriprion  > span.sheet-change  {
	display: block;
	font-family: "Pictos";
}
/* Hide the section(s) that do not match the attribute value */
.sheet-description input.sheet-change-description-hidden:checked + div > button.sheet-change-descriprion  > span.sheet-save {
  display: none;
}
.sheet-description input.sheet-change-description-hidden:not(:checked) + div > button.sheet-change-descriprion  > span.sheet-change {
	display: none;
}

.sheet-description textarea.sheet-description-input-text {
	display: none;
}

.sheet-description textarea.sheet-description-saved-text {
	display: block;
 	width: 380px;
	resize: none;
	padding: 0px;
	margin: 0px;
	background: none;
	border: none;
	cursor: default;
	overflow: auto;
	outline: none;
	height: 280px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sheet-description textarea.sheet-description-input-text {
	display: none;
	width: 370px;
	margin: 0;
	height: 280px;
	resize: vertical;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sheet-description input.sheet-change-description-hidden:checked ~ textarea.sheet-description-saved-text {
	display: block;
}

.sheet-description input.sheet-change-description-hidden:checked ~ textarea.sheet-description-input-text {
	display: none;
}

.sheet-description input.sheet-change-description-hidden:not(:checked) ~ textarea.sheet-description-saved-text {
	display: none;
}

.sheet-description input.sheet-change-description-hidden:not(:checked) ~ textarea.sheet-description-input-text {
	display: block;
}
/*page1 descriprion end*/

.sheet-background {
	grid-area: back;
}

.sheet-look {
	grid-area: looks;
}

.sheet-background,
.sheet-cyborg-path,
.sheet-stranger-specialization,
.sheet-juggernaut-handicraft,
.sheet-raelith-function {
	display: grid;
	gap: 10px;
    grid-template-rows: 26.4px min-content;
}

.sheet-background .sheet-title,
.sheet-cyborg-path .sheet-title,
.sheet-stranger-specialization .sheet-title,
.sheet-juggernaut-handicraft .sheet-title,
.sheet-raelith-function .sheet-title {
	display: grid;
    grid-template-columns: min-content 26.4px auto;
    gap: 10px;
}

.sheet-background .sheet-background-text,
.sheet-background .sheet-additional-background,
.sheet-cyborgPath,
.sheet-strangerSpecialization,
.sheet-juggernautHandicraft,
.sheet-raelithFunction {
	display: grid;
	grid-template-columns: 18px auto;
	gap: 3px;
}

button[type=roll].sheet-infoOutput {
  border: none;
  background-color: transparent;
  background-image: none;
  font-size: 1.05em;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  height: 21px;
  margin: 0px;
	padding: 0px;
	font-family: "Pictos";
}

button[type=action].sheet-setting {
    border: none;
    background-color: transparent;
    background-image: none;
    font-size: 1.05em;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
    height: 28px;
    margin: 0px;
	padding: 0px;
	font-family: "Pictos";
}

button[type=roll].sheet-infoOutput::before {
    content: '';
}

.sheet-page1 .sheet-change-button {
	font-family: "Pictos";
}

.repcontainer[data-groupname="repeating_background"] > .repitem > button,
.repcontainer[data-groupname="repeating_raelithfunction"] > .repitem > button,
.repcontainer[data-groupname="repeating_juggernauthandicraft"] > .repitem > button,
.repcontainer[data-groupname="repeating_strangerspecialization"] > .repitem > button,
.repcontainer[data-groupname="repeating_cyborgpath"] > .repitem > button {
	min-height: 10px;
	min-height: 10px;
}

.repcontainer[data-groupname="repeating_background"] > .repitem > .sheet-show-settings,
.repcontainer[data-groupname="repeating_raelithfunction"] > .repitem > .sheet-show-settings,
.repcontainer[data-groupname="repeating_juggernauthandicraft"] > .repitem > .sheet-show-settings,
.repcontainer[data-groupname="repeating_strangerspecialization"] > .repitem > .sheet-show-settings,
.repcontainer[data-groupname="repeating_cyborgpath"] > .repitem > .sheet-show-settings {
	display: none;
}

.repcontainer[data-groupname="repeating_background"] > .repitem > .sheet-show-settings + div,
.repcontainer[data-groupname="repeating_raelithfunction"] > .repitem > .sheet-show-settings + div,
.repcontainer[data-groupname="repeating_juggernauthandicraft"] > .repitem > .sheet-show-settings + div, 
.repcontainer[data-groupname="repeating_strangerspecialization"] > .repitem > .sheet-show-settings + div,
.repcontainer[data-groupname="repeating_cyborgpath"] > .repitem > .sheet-show-settings + div {
	display: none;
}

.repcontainer[data-groupname="repeating_background"] > .repitem > .sheet-show-settings:not(:checked) + div,
.repcontainer[data-groupname="repeating_raelithfunction"] > .repitem > .sheet-show-settings:not(:checked) + div,
.repcontainer[data-groupname="repeating_juggernauthandicraft"] > .repitem > .sheet-show-settings:not(:checked) + div,
.repcontainer[data-groupname="repeating_strangerspecialization"] > .repitem > .sheet-show-settings:not(:checked) + div,
.repcontainer[data-groupname="repeating_cyborgpath"] > .repitem > .sheet-show-settings:not(:checked) + div {
	display: block;
}

.repcontainer[data-groupname="repeating_background"] > .repitem > div> textarea,
.repcontainer[data-groupname="repeating_raelithfunction"] > .repitem > div> textarea,
.repcontainer[data-groupname="repeating_juggernauthandicraft"] > .repitem > div> textarea,
.repcontainer[data-groupname="repeating_strangerspecialization"] > .repitem > div> textarea,
.repcontainer[data-groupname="repeating_cyborgpath"] > .repitem > div> textarea {
	width: 300px;
	resize: vertical;
	border: 1px solid;
	margin: 5px;
	margin-top: 0px;
	height: 54px;
	border-radius: 0px;
	border-top: 0px;
}

.repcontainer[data-groupname="repeating_background"] > .repitem > div> input[type='text'],
.repcontainer[data-groupname="repeating_raelithfunction"] > .repitem > div> input[type='text'],
.repcontainer[data-groupname="repeating_juggernauthandicraft"] > .repitem > div> input[type='text'],
.repcontainer[data-groupname="repeating_strangerspecialization"] > .repitem > div> input[type='text'],
.repcontainer[data-groupname="repeating_cyborgpath"] > .repitem > div> input[type='text'] {
	width: 310px;
	border: 1px solid;
	margin: 5px;
	margin-bottom: 0px;
	border-radius: 0px;
}

/*special start*/
.sheet-is-cyborg-flag,
.sheet-is-shadow-flag,
.sheet-is-stranger-flag,
.sheet-is-juggernaut-flag,
.sheet-is-raelith-flag {
	display: none;
}

.sheet-is-cyborg-flag:checked + .sheet-cyborg-additional,
.sheet-is-shadow-flag:checked + .sheet-shadow-additional,
.sheet-is-stranger-flag:checked + .sheet-stranger-additional,
.sheet-is-juggernaut-flag:checked + .sheet-juggernaut-additional,
.sheet-is-raelith-flag:checked + .sheet-raelith-additional {
	display: none;
}

.sheet-is-cyborg-flag:not(:checked) + .sheet-cyborg-additional,
.sheet-is-shadow-flag:not(:checked) + .sheet-shadow-additional,
.sheet-is-stranger-flag:not(:checked) + .sheet-stranger-additional,
.sheet-is-juggernaut-flag:not(:checked) + .sheet-juggernaut-additional {
	display: grid;
}

.sheet-is-cyborg-flag:not(:checked) + .sheet-cyborg-path,
.sheet-is-stranger-flag:not(:checked) + .sheet-stranger-specialization,
.sheet-is-juggernaut-flag:not(:checked) + .sheet-juggernaut-path,
.sheet-is-raelith-flag:not(:checked) + .sheet-raelith-path {
	display: grid;
}

.sheet-cyborgPath-show-flag,
.sheet-strangerSpecialization-show-flag,
.sheet-juggernautHandicraft-show-flag,
.sheet-raelithFunction-show-flag {
	display: none;
}

.sheet-cyborgPath-show-flag:checked + div,
.sheet-strangerSpecialization-show-flag:checked + div,
.sheet-juggernautHandicraft-show-flag:checked + div,
.sheet-raelithFunction-show-flag:checked + div {
	display: none;
}

.sheet-cyborgPath-show-flag:not(:checked) + div,
.sheet-strangerSpecialization-show-flag:not(:checked) + div,
.sheet-juggernautHandicraft-show-flag:not(:checked) + div,
.sheet-raelithFunction-show-flag:not(:checked) + div {
	display: inline;
}

/* raelith special start*/
.sheet-is-raelith-flag:not(:checked) + .sheet-raelith-additional {
	display: grid;
}

.sheet-is-raelith-flag:checked + .sheet-background {
	display: grid;
}

.sheet-is-raelith-flag:not(:checked) + .sheet-background {
	display: none;
}

.sheet-is-raelith-flag:not(:checked) + .sheet-background {
	display: none;
}
/* raelith special end */
/* special end*/

/* page1 look start */
.sheet-look .sheet-expand-hidden {
	display: none;
}

.sheet-look .sheet-title {
	display: grid;
	grid-template-columns: max-content 26.4px auto;
	gap: 10px;
}

.sheet-look button.sheet-expand-look {
  margin: 0;
  overflow: visible;
  text-transform: none;
  border-style: none;
  padding: 0;
  background: transparent;
	cursor: pointer;
	border:0.1em solid rgb(14, 13, 13);
	background-color: transparent;
}

/* Hide the section(s) that do not match the attribute value */
input.sheet-expand-hidden:not(:checked) + div > button.sheet-expand-look  > span.sheet-expanded {
  display: none;
}
input.sheet-expand-hidden:checked + div > button.sheet-expand-look  > span.sheet-notexpanded {
  display: none;
}

.sheet-look-example {
	display: block;
	opacity: 0;
	max-height: 0;
	transition: max-height 0.5s ease-out;
	overflow: hidden;
	cursor: default;
}

.sheet-look .sheet-expand-hidden:checked ~ .sheet-look-example {
	display: block;
	opacity: 1;
	max-height: 92px;
	transition: max-height 0.5s ease-in;
	width: 380px;
	resize: none;
	padding: 0px;
	margin: 0px;
	background: none;
	border: none;
	cursor: default;
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sheet-look .sheet-look-input {
	width: 380px;
	height: 100px;
	resize: vertical;
	padding: 0px;
	margin: 0px;
}
/* page1 look end */

/* page1 startgear start */

.sheet-start-gear button.sheet-toggle {
	padding: 0;
  border: solid 1px #a8a8a8;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
	font-size: 30px;
	vertical-align: middle;
}
/* .repcontainer[data-groupname="repeating_startgear"] > .repitem  {
	line-height: 12px;
} */
.repcontainer[data-groupname="repeating_startgear"] > .repitem {
	display: grid;
	grid-template-columns: 18px auto;
	gap: 5px;
	margin-bottom: 4px;
}
.repcontainer[data-groupname="repeating_startgear"] > .repitem span.sheet-name {
	font-weight: bold;
}

/* page1 startgear end */
/* page1 page end */

/* page2 page start*/
.sheet-page2 {
	display: grid;
	grid-template-columns: 383px 383px;
	grid-gap: 6px;
	grid-template-rows: auto;
	grid-template-areas: 
	"attributes bonds"
	"inventory notes";
	grid-auto-flow: column;
}

.sheet-attributes {
	display: grid;
	grid-area: attributes;
	grid-template-columns: 110px 268px;
	grid-template-areas: 
	"main sub"
	"fortune fortune"
	"special special";
	gap: 5px;
	grid-auto-rows: min-content;
}

/*page2 main-attr start*/
.sheet-attributes .sheet-main-attributes {
	grid-area: main;
	display: grid;
	grid-template-columns: 110px;
	grid-template-rows: 35px 35px 35px 35px;
	row-gap: 3px;
	height: min-content;
}

.sheet-attributes .sheet-main-attributes .sheet-attribute-container {
	display: grid;
	grid-template-columns: 75px 35px;
	grid-template-rows: 5px 25px 5px;
	grid-gap: 0px;
	background-color: white;
	color: #fff;
}

.sheet-attribute-input {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
	background: white;
	border-color: black;
	border-width: 2px;
	text-align: center;
	border-radius: 0px;
	width: 35px;
	height: 29px;
}

.sheet-attribute-name {
	background-color: black;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 3px;
}

button[type=roll].sheet-attribute-name {
	background: unset;
	background-color: black;
	color: white;

	padding: 3px;

	text-transform: none;
	text-decoration: none;
	text-align: unset;

  font-family: unset;
	font-weight: unset;
	font-size: unset;

	border: none;
  border-radius: 0em;
	border-style: none;
	

	
  box-sizing: border-box;
	box-shadow: none;

	transition: all 0.2s;

	margin: 0;
  overflow: visible;

	cursor: pointer;
}
button[type=roll].sheet-attribute-name::before {
	content: none;
}
button[type=roll].sheet-attribute-name:focus {
	outline: unset;
	outline-offset: unset;
}
/*page2 main-attr end*/

/*page2 sub-attr start*/
.sheet-attributes .sheet-sub-attributes {
	grid-area: sub;
	display: grid;
	grid-template-columns: 268px;
	grid-template-rows: 35px 35px 35px 60px;
	row-gap: 3px;
	height: min-content;
}

.sheet-sub-attributes .sheet-atack,
.sheet-sub-attributes .sheet-armor,
.sheet-sub-attributes .sheet-hp ,
.sheet-sub-attributes .sheet-gear {
    display: grid;
    grid-template-rows: 5px 25px 5px;
    align-self: center;
}

.sheet-sub-attributes .sheet-atack {
	grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 80px 25px 2px 25px 2px 25px 2px 25px 2px 25px 3px 25px 2px 25px;
	grid-template-areas: 
	". . . . . . . . . . . . . ."
	"atack-lbl atack-box1 . atack-box2 . atack-box3 . atack-box4 . atack-box5 . addatackbutton . sbstrctatackbutton"
	". . . . . . . . . . . . . .";
}

.sheet-sub-attributes .sheet-armor {
	grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 80px 25px 2px 25px 2px 25px 2px 25px 2px 25px 3px 25px 2px 25px;
	grid-template-areas: 
	". . . . . . . . . . . . . ."
	"armor-lbl armor-box1 . armor-box2 . armor-box3 . armor-box4 . armor-box5 . addarmorbutton . sbstrctarmorbutton"
	". . . . . . . . . . . . . .";
}

.sheet-sub-attributes .sheet-hp {
	grid-row-start: 3;
    grid-row-end: 4;
    grid-template-columns: 80px 25px 2px 25px 2px 25px 2px 25px 2px 25px 3px 25px 2px 25px;
	grid-template-areas: 
	". . . . . . . . . . . . . ."
	"hp-lbl hp-box1 . hp-box2 . hp-box3 . hp-box4 . hp-box5 . addhpbutton . sbstrcthpbutton"
	". . . . . . . . . . . . . .";
}

.sheet-sub-attributes .sheet-gear {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-template-columns: 95px 25px 2px 25px 2px 25px 2px 25px 2px 25px 3px 25px;
	grid-template-rows: 5px 12.5px 12.5px 12.5px 12.5px 5px;
	grid-template-areas: 
	". . . . . . . . . . . ."
	". gear-box1 . gear-box2 . gear-box3 . gear-box4 . gear-box5 . addgearbutton"
	"gear-lbl gear-box1 . gear-box2 . gear-box3 . gear-box4 . gear-box5 . addgearbutton"
	"gear-lbl gear-box6 . gear-box7 . gear-box8 . gear-box9 . gear-box10 . sbstrctgearbutton"
	". gear-box6 . gear-box7 . gear-box8 . gear-box9 . gear-box10 . sbstrctgearbutton"
	". . . . . . . . . . . .";
}

.sheet-atack-lbl,
.sheet-armor-lbl,
.sheet-hp-lbl,
.sheet-gear-lbl {
	align-self: center;
	line-height: 1;
	background-color: black;
	color: white;
	padding: 5px;
	height: 15px;
}

.sheet-atack-lbl {
    grid-area: atack-lbl;
}

.sheet-armor-lbl {
    grid-area: armor-lbl;
}

.sheet-hp-lbl {
    grid-area: hp-lbl;
}

.sheet-gear-lbl {
    grid-area: gear-lbl;
}

input[type="checkbox"].sheet-atack-box,
input[type="checkbox"].sheet-armor-box, 
input[type="checkbox"].sheet-hp-box,
input[type="checkbox"].sheet-gear-box {
    opacity: 0;
    cursor: pointer;
	z-index: 1;
	width: 25px;
	height: 25px;
	align-self: center;
}

input[type="checkbox"].sheet-atack-box + span,
input[type="checkbox"].sheet-armor-box + span,
input[type="checkbox"].sheet-hp-box + span,
input[type="checkbox"].sheet-gear-box + span {
	border: solid 2px black;
	border-right: solid 4px black;
    display: block;
	background-color: #000000;
    background-image: linear-gradient(315deg, #000000 -50%, #ffffff 194%);
	border-radius: 0px;
	align-self: center;
	height: 21px;
	width: 21px;
}

input[type="checkbox"].sheet-atack-box:checked ~ input[type="checkbox"].sheet-atack-box + span,
input[type="checkbox"].sheet-armor-box:checked ~ input[type="checkbox"].sheet-armor-box + span,
input[type="checkbox"].sheet-hp-box:checked ~ input[type="checkbox"].sheet-hp-box + span,
input[type="checkbox"].sheet-gear-box:checked ~ input[type="checkbox"].sheet-gear-box + span {    
    background: white;
}

input.sheet-atack-box0,
input.sheet-armor-box0,
input.sheet-hp-box0,
input.sheet-gear-box0 {
    z-index: 0;
    display: none;
}

.sheet-atack-box1 {
	grid-area: atack-box1;
}
.sheet-atack-box2 {
	grid-area: atack-box2;
}
.sheet-atack-box3 {
	grid-area: atack-box3;
}
.sheet-atack-box4 {
	grid-area: atack-box4;
}
.sheet-atack-box5 {
	grid-area: atack-box5;
}

.sheet-armor-box1 {
	grid-area: armor-box1;
}
.sheet-armor-box2 {
	grid-area: armor-box2;
}
.sheet-armor-box3 {
	grid-area: armor-box3;
}
.sheet-armor-box4 {
	grid-area: armor-box4;
}
.sheet-armor-box5 {
	grid-area: armor-box5;
}

.sheet-hp-box1 {
	grid-area: hp-box1;
}
.sheet-hp-box2 {
	grid-area: hp-box2;
}
.sheet-hp-box3 {
	grid-area: hp-box3;
}
.sheet-hp-box4 {
	grid-area: hp-box4;
}
.sheet-hp-box5 {
	grid-area: hp-box5;
}

.sheet-gear-box1 {
	grid-area: gear-box1;
}
.sheet-gear-box2 {
	grid-area: gear-box2;
}
.sheet-gear-box3 {
	grid-area: gear-box3;
}
.sheet-gear-box4 {
	grid-area: gear-box4;
}
.sheet-gear-box5 {
	grid-area: gear-box5;
}
.sheet-gear-box6 {
	grid-area: gear-box6;
}
.sheet-gear-box7 {
	grid-area: gear-box7;
}
.sheet-gear-box8 {
	grid-area: gear-box8;
}
.sheet-gear-box9 {
	grid-area: gear-box9;
}
.sheet-gear-box10 {
	grid-area: gear-box10;
}

input.sheet-atack-max,
input.sheet-armor-max,
input.sheet-hp-max,
input.sheet-gear-max {
	display: none;
}

input[type="checkbox"].sheet-atack-max:checked ~ input[type="checkbox"].sheet-atack-box,
input[type="checkbox"].sheet-armor-max:checked ~ input[type="checkbox"].sheet-armor-box,
input[type="checkbox"].sheet-hp-max:checked ~ input[type="checkbox"].sheet-hp-box,
input[type="checkbox"].sheet-gear-max:checked ~ input[type="checkbox"].sheet-gear-box  {
	pointer-events: none;
}

input[type="checkbox"].sheet-atack-max:checked ~ input[type="checkbox"].sheet-atack-box +span,
input[type="checkbox"].sheet-armor-max:checked ~ input[type="checkbox"].sheet-armor-box +span,
input[type="checkbox"].sheet-hp-max:checked ~ input[type="checkbox"].sheet-hp-box +span, 
input[type="checkbox"].sheet-gear-max:checked ~ input[type="checkbox"].sheet-gear-box +span {
	opacity:0.5;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	border-color: #b8c6db;
}

.sheet-sbstrctatackbutton, .sheet-addatackbutton,
.sheet-sbstrctarmorbutton, .sheet-addarmorbutton,
.sheet-sbstrcthpbutton, .sheet-addhpbutton,
.sheet-sbstrctgearbutton, .sheet-addgearbutton {
    font-family: "Pictos";
}

.sheet-sbstrctatackbutton {
	grid-area: sbstrctatackbutton;
}
.sheet-addatackbutton {
	grid-area: addatackbutton;
}

.sheet-sbstrctarmorbutton {
	grid-area: sbstrctarmorbutton;
}
.sheet-addarmorbutton {
	grid-area: addarmorbutton;
}

.sheet-sbstrcthpbutton {
	grid-area: sbstrcthpbutton;
}
.sheet-addhpbutton {
	grid-area: addhpbutton;
}

.sheet-sbstrctgearbutton {
	grid-area: sbstrctgearbutton;
}
.sheet-addgearbutton {
	grid-area: addgearbutton;
}
/*page2 sub-attr end*/

/*page2 fortune start */
.sheet-fortune {
	grid-area: fortune;
	display: grid;
	gap: 5px;
	grid-auto-rows: 35px;
}

.sheet-fortune .sheet-money,
.sheet-fortune .sheet-wealth {
	grid-column-end: 3;
  display: grid;
  align-self: center;
}

.sheet-fortune .sheet-money {
	grid-template-columns: 120px 25px 2px 25px 2px 25px 2px 25px 2px 25px 3px 25px 2px 25px;
	grid-template-rows: 5px 25px 5px;
	grid-template-areas: 
	". . . . . . . . . . . . . ."
	"money-lbl money-box1 . money-box2 . money-box3 . money-box4 . money-box5 . addmoneybutton . sbstrctmoneybutton"
	". . . . . . . . . . . . . .";
}

.sheet-fortune .sheet-wealth {
	grid-template-columns: 120px 25px 2px 25px 2px 25px 3px 25px 2px 25px 27px;
	grid-template-rows: 5px 25px 5px;
	grid-template-areas: 
	". . . . . . . . . ."
	"wealth-lbl wealth-box1 . wealth-box2 . wealth-box3 . addwealthbutton . sbstrctwealthbutton"
	". . . . . . . . . .";
}

.sheet-money-lbl,
.sheet-wealth-lbl {
  grid-area: money-lbl;
	align-self: center;
	line-height: 1;
	background-color: black;
	color: white;
	padding: 5px;
	height: 15px;
}

.sheet-money-lbl {
    grid-area: money-lbl;
}

.sheet-wealth-lbl {
    grid-area: wealth-lbl;
}

input[type="checkbox"].sheet-money-box,
input[type="checkbox"].sheet-wealth-box  {
    opacity: 0;
    cursor: pointer;
	z-index: 1;
	width: 25px;
	height: 25px;
	align-self: center;
}

input[type="checkbox"].sheet-money-box + span,
input[type="checkbox"].sheet-wealth-box + span {
	border: solid 2px black;
	border-right: solid 4px black;
    display: block;
	background-color: #000000;
    background-image: linear-gradient(315deg, #000000 -50%, #ffffff 194%);
	border-radius: 0px;
	align-self: center;
	height: 21px;
	width: 21px;
}

input[type="checkbox"].sheet-money-box:checked ~ input[type="checkbox"].sheet-money-box + span,
input[type="checkbox"].sheet-wealth-box:checked ~ input[type="checkbox"].sheet-wealth-box + span {    
    background: white;
}

input.sheet-money-box0,
input.sheet-wealth-box0 {
    z-index: 0;
    display: none;
}

.sheet-money-box1 {
	grid-area: money-box1;
}
.sheet-money-box2 {
	grid-area: money-box2;
}
.sheet-money-box3 {
	grid-area: money-box3;
}
.sheet-money-box4 {
	grid-area: money-box4;
}
.sheet-money-box5 {
	grid-area: money-box5;
}

.sheet-wealth-box1 {
	grid-area: wealth-box1;
}
.sheet-wealth-box2 {
	grid-area: wealth-box2;
}
.sheet-wealth-box3 {
	grid-area: wealth-box3;
}

input.sheet-money-max,
input.sheet-wealth-max {
	display: none;
}

input[type="checkbox"].sheet-money-max:checked ~ input[type="checkbox"].sheet-money-box,
input[type="checkbox"].sheet-wealth-max:checked ~ input[type="checkbox"].sheet-wealth-box {
	pointer-events: none;
}

input[type="checkbox"].sheet-money-max:checked ~ input[type="checkbox"].sheet-money-box +span,
input[type="checkbox"].sheet-wealth-max:checked ~ input[type="checkbox"].sheet-wealth-box +span {
	opacity:0.5;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	border-color: #b8c6db;
}

.sheet-sbstrctmoneybutton, .sheet-addmoneybutton,
.sheet-sbstrctwealthbutton, .sheet-addwealthbutton {
	font-family: "Pictos";
}

.sheet-sbstrctmoneybutton {
	grid-area: sbstrctmoneybutton;
}
.sheet-addmoneybutton {
	grid-area: addmoneybutton;
}


.sheet-sbstrctwealthbutton {
	grid-area: sbstrctwealthbutton;
}
.sheet-addwealthbutton {
	grid-area: addwealthbutton;
}
/* page2 fortune end*/

/* page2 inventory start */
.sheet-inventory {
	grid-area: inventory;
}
.sheet-inventory-label {
	display: block;
	background-color: black;
  color: white;
  padding: 5px;
	height: 15px;
	margin-bottom: 5px;
}
.sheet-inventory textarea {
	width: calc(100% - 40px);
	resize: vertical;
	border: 1px solid;
	margin: 5px;
	height: 54px;
	border-radius: 0px;
  border-top: 0px;
}

.sheet-inventory input {
	margin: 5px;
	margin-top: 0px;
	font-weight: bold;
	border: 1px solid;
	width: calc(100% - 30px);
	border-radius: 0px;
}

.sheet-inventory .sheet-expander {
	opacity: 0;
	width: 16px;
	height: 16px;
	position: relative;
	top: -2px;
	left: 4px;
	margin: -10px;
	cursor: pointer;
	z-index: 1;
}

.sheet-inventory .sheet-expand-inventory + span::before {
	top: -3px;
	margin-left: -6px;
	border: solid 1px black;
	border-radius: 0px;
	color: white;
	background-color: rgb(35, 31, 32);
	width: 15px;
	height: 14px;
	display: inline-block;
	line-height: 14px;
	text-align: center;
	content: "◂";
}

.sheet-inventory .sheet-expand-inventory:checked + span::before {
	content: "▾";
}

.sheet-inventory-expansion {
	display: block;
	transition: max-height 0.5s ease-out;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.sheet-expand-inventory:checked ~ .sheet-inventory-expansion {
	display: block;
	opacity: 1;
	max-height: 700px;
	transition: max-height 0.5s ease-in;
	margin-top: -10px;
}
/* page2 inventory end */

/* page2 bonds start */
.sheet-bonds {
	grid-area: bonds;
}

.sheet-bonds-label {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: black;
    color: white;
    padding: 5px;
    height: 15px;
}

.sheet-bonds-main  {
	padding: 0px 4px;
}

.sheet-bonds textarea {
	width: calc(100% - 70px);
	resize: vertical;
	border: 1px solid;
	margin: 5px;
	height: 54px;
	border-radius: 0px;
	border-top: 0px;
	margin-left: 10%;
}

.sheet-bonds input {
	margin: 5px;
	margin-top: 0px;
	font-weight: bold;
	border: 1px solid;
	width: calc(100% - 60px);
	border-radius: 0px;
}

.sheet-bonds .sheet-expander {
	opacity: 0;
	width: 16px;
	height: 16px;
	position: relative;
	top: -2px;
	left: 4px;
	margin: -10px;
	cursor: pointer;
	z-index: 1;
}

.sheet-bonds .sheet-expand-bond + span::before {
	top: -3px;
	margin-left: -6px;
	border: solid 1px black;
	border-radius: 0px;
	color: white;
	background-color: rgb(35, 31, 32);
	width: 15px;
	height: 14px;
	display: inline-block;
	line-height: 14px;
	text-align: center;
	content: "◂";
}

.sheet-bonds .sheet-expand-bond:checked + span::before {
	content: "▾";
}

.sheet-bond-expansion {
	display: block;
	transition: max-height 0.5s ease-out;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.sheet-expand-bond:checked ~ .sheet-bond-expansion {
	display: block;
	opacity: 1;
	max-height: 700px;
	transition: max-height 0.5s ease-in;
	margin-top: -10px;
}
/* page2 bonds end */

/* page2 notes start */
.sheet-notes {
	grid-area: notes;
}
.sheet-notes-label {
	display: block;
	background-color: black;
  color: white;
  padding: 5px;
  height: 15px;
}
.sheet-notes-input {
	width: calc(100% - 20px);
	resize: vertical;
	border: 1px solid;
	margin: 5px;
	height: 54px;
	border-radius: 0px;
}
/* page2 notes end */

/* page2 page end*/

/* page3 page start */
.sheet-page3 {
	display: grid;
	grid-template-columns: 383px 383px;
	grid-gap: 6px;
}
/* page3 moves start */
.repcontainer[data-groupname=repeating_moves]  button[type=roll]::before { 
	content: none; 
}

.repcontainer[data-groupname=repeating_moves] button[type=roll] {
	margin: 0;
  overflow: visible;
  text-transform: none;
  border-style: none;
  padding: 0;
  background: transparent;
	cursor: pointer;
	background-color: transparent;
}
.repcontainer[data-groupname=repeating_moves] button[type=roll] span {
	font-family: "dicefontd6";
}
 

/*grid start*/
.sheet-moves-container {
	display: grid;
	grid-template-areas: "moves-title" "moves-main";
	grid-template-rows: 27px auto;
	width: 383px;
}

.sheet-moves-container .sheet-title {
	grid-area: "moves-title";
}

.sheet-moves-container .sheet-moves {
	grid-area: "moves-main";
}

.repcontainer[data-groupname=repeating_moves] {
	display: grid;
	grid-template-columns: 383px;
	gap: 6px;
}

.repcontainer[data-groupname=repeating_moves] .repitem .sheet-move-title {
	display: grid;
	grid-template-columns: 26.4px max-content 18px 18px;
	gap: 5px;
	align-items: end;
}

.repcontainer[data-groupname=repeating_moves] .repitem .sheet-move-title span {
	max-width: 305px;
	text-align: center;
	font-weight: bold;
}

.repcontainer[data-groupname=repeating_moves] .repitem .sheet-move-expansion textarea {
	width: calc(100% - 20px);
	resize: vertical;
	height: 80px;
}

.repcontainer[data-groupname=repeating_moves] .repitem .sheet-move-description textarea {
	margin: 0;
  resize: vertical;
  padding: 0;
  border: none;
	width: 380px;
	background: none;
	cursor: default;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.repcontainer[data-groupname=repeating_moves] input[type='number'] {
	width: 40px;
	text-align: center;
}
/* grid end */

.sheet-moves .sheet-expand-hidden {
	display: none;
}

.repcontainer[data-groupname=repeating_moves] .repitem .sheet-move-title button.sheet-expand-move,
.repcontainer[data-groupname=repeating_moves] .repitem .sheet-move-title button.sheet-change-move {
  margin: 0;
  overflow: visible;
  text-transform: none;
  border-style: none;
  padding: 0;
  background: transparent;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.sheet-moves button.sheet-expand-move > span.sheet-expanded,
.sheet-moves button.sheet-expand-move > span.sheet-not-expanded  {
	display: block;
}

.sheet-moves button.sheet-change-move > span.sheet-save,
.sheet-moves button.sheet-change-move > span.sheet-change  {
	display: block;
	font-family: "Pictos";
}

.sheet-moves input.sheet-expand-description:not(:checked) ~ div > button.sheet-expand-move  > span.sheet-expanded {
  display: none;
}
.sheet-moves input.sheet-expand-description:checked ~ div > button.sheet-expand-move  > span.sheet-not-expanded {
  display: none;
}
.sheet-moves input.sheet-expand-settings:not(:checked) ~ div > button.sheet-change-move  > span.sheet-save {
  display: none;
}
.sheet-moves input.sheet-expand-settings:checked ~ div > button.sheet-change-move  > span.sheet-change {
  display: none;
}

.sheet-moves .sheet-move-expansion {
	display: block;
	transition: max-height 0.5s ease-out;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.sheet-moves input.sheet-expand-settings:checked ~ .sheet-move-expansion {
	display: block;
	opacity: 1;
	max-height: 1500px;
	transition: max-height 1s ease-in;
}

.sheet-moves .sheet-move-description {
	display: none;
}

.sheet-moves input.sheet-expand-description:checked ~ .sheet-move-description {
	display: block;
}

.repcontainer[data-groupname=repeating_moves] .repitem .sheet-move-expansion input.sheet-enable-roll:not(:checked) ~ div {
	display: none;
}

/* page3 moves end */

/* page3 page end */

/* rolltemplate start*/
.sheet-rolltemplate-move .inlinerollresult,
.sheet-rolltemplate-move .inlinerollresult.fullfail,
.sheet-rolltemplate-move .inlinerollresult.fullcrit,
.sheet-rolltemplate-move .inlinerollresult.importantroll {
	background-color: transparent;
	border: none;
	font-size: 1.3em;
}
/* rolltemplate info start */ 
.sheet-rolltemplate-info .sheet-templateMain {
	background:rgba(35, 31, 32);
/* 	background-image: url("https://github.com/khtd/roll20_eotv/blob/master/space.jpg?raw=true");
	background-position: bottom; */
	border-radius: 2px;
	margin-left: -10px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-direction: column;
}
.sheet-rolltemplate-info .sheet-templateheader {
	font-size: 90%;
	font-style: italic;
}
.sheet-rolltemplate-info .sheet-templateheader,
.sheet-rolltemplate-info .sheet-templatesubheader {
	font-weight: bold;
	padding: 6px 6px 0px 6px;
	color: white;
/* 	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; */
}

.sheet-rolltemplate-info .sheet-templatedescription {
	background-color: white;
	margin: 5px;
	padding: 2px;
	display: flex;
	flex-direction: column;
	font-size: .9em;
	padding: 6px 6px 3px 6px;
	flex: 3;
}
/* rolltemplate info end */ 
/* rolltemplate move start */ 
.sheet-rolltemplate-move .sheet-rt-container {
	background-color: rgb(35, 31, 32);
/* 	background-image: url("https://github.com/khtd/roll20_eotv/blob/master/space.jpg?raw=true");
	background-position: bottom; */
	border-radius: 2px;
	margin-left: -10px;
	display: flex;
	flex-direction: column;
}

.sheet-rolltemplate-move .sheet-rt-header {
	font-weight: bold;
	font-size: medium;
  padding: 6px 6px 0px 6px;
	color: white;
/* 	text-shadow:
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; */
}

.sheet-rolltemplate-move .sheet-rt-header-minor {
	font-size: 90%;
	font-style: italic;
}

.sheet-rolltemplate-move .sheet-rt-content {
	background-color: white;
	margin: 5px;
	padding: 2px;
	display: flex;
	flex-direction: column;
}

.sheet-rolltemplate-move .sheet-rt-row {
	flex: 1 0 auto;
	display: flex;
	padding-top: 6px;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}

.sheet-rolltemplate-move .sheet-rt-label {
	font-weight: bold;
	font-size: 0.9em;
	display: block;
	flex: 1;
	padding-right: 4px;
	margin-right: 2px;
	text-align: right;
}

.sheet-rolltemplate-move .sheet-rt-value {
	display: block;
	font-size: .9em;
	flex: 3;
	text-align: left;
}
/* rolltemplate move end */ 
/* rolltemplate end*/

/*TODO*/
.sheet-background-show-flag {
	display: none;
}

.sheet-background-show-flag:checked ~ .sheet-background-select {
	display: none;
}

.sheet-background-show-flag:not(:checked) ~ .sheet-background-select {
	display: inline;
}

span.sheet-emptiable:empty,
span.sheet-emptiable:empty + br {
    display: none;
}

/*всплывашка*/
.sheet-tip-confirm-flag {
	display: none;
}

.sheet-tip-confirm-flag:checked ~ .sheet-class-tip {
	display: none;
}

.sheet-tip-confirm-flag:not(:checked) ~ .sheet-class-tip {
	display: block;
	position: absolute;
	top: 7em;
	left: 7em;
	background: white;
	z-index: 99;
	border: 5px double black;
	border-radius: 0px;
	padding: 5px;
	width: 701px;
	height: auto;
}

.sheet-class-tip .sheet-cancel-button {
	float: right;
	border: 1.5px solid black;
    background: white;
}

.sheet-class-tip button[type=action] {
	color: black;
	border: 1.5px solid black;
    background: white;
    margin-bottom: 5px;
}

.sheet-class-tip button[type=action]:hover {
	border-color: #6e9ec6;
}

/*вслывашка 2*/
.sheet-tip-warning-flag {
	display: none;
}

.sheet-tip-warning-flag:checked ~ .sheet-change-warning {
	display: none;
}

.sheet-tip-warning-flag:not(:checked) ~ .sheet-change-warning {
	display: grid;
	gap: 5px;
	grid-template-rows: repeat(2, auto);
	position: absolute;
	top: 7em;
	left: 7em;
	background: white;
	z-index: 99;
	border: 5px double black;
	border-radius: 0px;
	padding: 5px;
	width: 701px;
	height: auto;
}

.sheet-change-warning .sheet-wrn-text {
	text-align: center;
	font-size: large;
}

.sheet-change-warning .sheet-wrn-btn {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
  gap: 5px;
}

.sheet-change-warning button[type=action] {
	color: black;
	border: 1.5px solid black;
  background: white;
}

.sheet-change-warning button[type=action]:hover {
	border-color: #6e9ec6;
}